body{
    font-weight :bold;
    font-style:Italic; 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, rgb(243, 112, 155), rgb(255, 255, 255)) no-repeat;
}
h1{
    text-align: center;
    color: blue; 
}
h4{
    text-align: center;
    margin-bottom: 5em;
}
form{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.zone{
    min-height: 30vh;
    padding: 1em;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title{
    width: 100%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: brown;
}
.desc{
    width: 100%;
    font-size: 1em;
    font-style: oblique;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
.inputs{
    width: 80%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
}
input{
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: .8em;
    text-align: center;
}
button{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: brown;
    background: linear-gradient(45deg, rgb(243, 112, 155), rgb(255, 255, 255)) no-repeat;
    transition: ease-in-out 5ms;
}
button:disabled{
    background: linear-gradient(45deg, rgb(151, 136, 141), rgb(255, 255, 255)) no-repeat;
    color:rgb(94, 93, 93);
}
button:enabled:hover{
    width: 22%;
    height: 28px;
    border-radius: 20px;
    cursor: pointer;
}
h3{
    text-align:end;
    color:red;
}
@media screen and (min-width:800px){
    .zone{
        max-width: 30%;
    }
}
@media screen and (max-width:800px){
    form{
        flex-direction: column;
    }
}